@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=VT323&display=swap");
@font-face { 
    font-family: Mystequ; src: url("fonts/mystequ.4b3e655226b2.otf"); 
    font-family: BigJohn; src: url("fonts/BigJohnPRO.9b550f15f893.otf");
} 

body, html{
    height: 100%;
    background: #000000 
}

.welcome_text{
    position: absolute;
    top: 4%;
    width: 100%;
    text-align: center;
    font-family: "VT323";
    font-size: 1.5em;
    color: white;
    animation: blinking 2s infinite;
}

.home{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    width: 80%;
    height: 80%;
    background: var(--bg-image) no-repeat;
    border-radius: 50px;
}

.main{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
}

.title{
    color: var(--main-color);
    font-size: 10em;
    font-family: Mystequ;
    overflow: hidden; 
    animation: typing 3s steps(40, end)
}

.subtitle{
    margin-top: -1em;
    color: var(--main-color);
    font-size: 2em;
    font-family: BigJohn
}

.playback{
    width: 100%;
    margin-top: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.played{
    width: 39%;
    height: 5px;
    background-color: var(--accent-color);
}

.cursor{
    width: 2%;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 100%;
    z-index: 10000;
}

.unplayed{
    width: 59%;
    height: 5px;
    background-color: var(--main-color);
}

#box{
    width: 100%;
    margin-top: 1em;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

#about {
    display: none;
}

#stats {
    display: none;
}

#support{
    display: none;
}

label{
    cursor: context-menu;
}

.icon {
    width: 100%;
    height: 100%;
}

.circle{
    aspect-ratio: 1 / 1;
    background-color: var(--main-color);
    border-radius: 100%;
    padding: 0;
}

.circle:hover{
    background-color:var(--accent-color);
    cursor: pointer;
}

.material-symbols-outlined {
    cursor: pointer;
    border: none;
    font-size: 4.5em;
    margin-top: 5px;
    background-color: transparent;
    color: var(--bg-color);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.material-symbols-outlined:hover{
    color:var(--main-color)
}

@media (max-width: 900px){
    .main{
        top:50%
    }

    .title{
        font-size: 6em;
    }

    .subtitle{
        font-size: 1.5em;
    }

    #box{
        gap: 5%;
    }

    .material-symbols-outlined{
        font-size: 2em;
    }
}

@media (max-height: 700px){
    .main{
        top:20%
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blinking {
      0% { opacity: 1; }
     49% { opacity: 1; }
     50% { opacity: 0; }
    100% { opacity: 0; }
  }